.container {
    padding:  20ex;
    text-align: center;
}

canvas {
    padding: 3%;
}

.time_control_select {
    text-align: right;
    padding: 1%;
}

hr {
    margin: auto;
    width: 90%;
    padding: 1%;
    border-top: 1px solid black
    colo
}