<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--use bootstrap to save time on front end development while still prototyping--> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!--use css to manually change -->
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" /> 

    <!--use block title to allow different titles for each different html file-->
    <title>{% block title %} {% endblock %} </title>
  </head>

  <body>
    <!--Bootstrap javascript bundle (not 100% sure if necessary)-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
    <!--Navigation Bar from bootstrap (https://getbootstrap.com/docs/5.2/components/navbar/)
    This nav bar will be in every page on the website-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/mis_estadisticas" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mis Estadisticas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/opening">Opening</a>
              <a class="dropdown-item" href="/middlegame">Middlegame</a>
              <a class="dropdown-item" href="/endgame">Endgame</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
      {% block body %} {% endblock %}
</body>
</html>