<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--use bootstrap to save time on front end development while still prototyping--> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!--use css to manually change -->
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" /> 

    <!--use block title to allow different titles for each different html file-->
    <title>{% block title %} {% endblock %} </title>
  </head>

  <body>
    <!--Bootstrap javascript bundle (not 100% sure if necessary)-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--Navigation Bar from bootstrap (https://getbootstrap.com/docs/5.2/components/navbar/)
    This nav bar will be in every page on the website-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/mis_estadisticas">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/opening">Opening</a>
            <a class="nav-link" href="/middlegame">Middlegame</a>
            <a class="nav-link" href="/endgame">Endgame</a>
            <a class="nav-link" href="/">Login</a>
          </div>
        </div>
      </div>
    </nav>
      {% block body %} {% endblock %}
</body>
</html>