{% extends 'base.html' %}
{% block body %}

<form class="time_control_select" action="http://localhost:5000/mis_estadisticas" method = 'POST'>
  <input class="btn-check" type="radio" id="900+10" name="time_control" value="900+10" autocomplete="off" checked>
  <label class="btn btn-secondary" for="900+10">15+10</label>
  <input class="btn-check" type="radio" id="600" name="time_control" value="600" autocomplete="off">
  <label class="btn btn-secondary" for="600">10</label>
  <input class="btn-check" type="radio" id="300+5" name="time_control" value="300+5" autocomplete="off">
  <label class="btn btn-secondary" for="300+5">5+5</label>
  <input class="btn-check" type="radio" id="300" name="time_control" value="300" autocomplete="off">
  <label class="btn btn-secondary" for="300">5</label>
  <input class="btn-check" type="radio" id="180" name="time_control" value="180" autocomplete="off">
  <label class="btn btn-secondary" for="180">3</label>
  <input class="btn-check" type="radio" id="120+1" name="time_control" value="120+1" autocomplete="off">
  <label class="btn btn-secondary" for="120+1">2+1</label>
  <input class="btn-check" type="radio" id="60" name="time_control" value="60" autocomplete="off">
  <label class="btn btn-secondary" for="60">1</label>
  <input class="btn btn-primary" type = "submit" value = "submit" />
</form>
<div>
    <canvas id="gameChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  let labels = JSON.parse('{{ data.index.to_list()|tojson }}');
  let win_data = JSON.parse("{{ data['Win'].to_list()|tojson }}")
  let loss_data = JSON.parse("{{ data['Loss'].to_list()|tojson }}")
  let draw_data = JSON.parse("{{ data['Draw'].to_list()|tojson }}")
  let title = "Game Results"
  let element_id = "gameChart"
</script>
<script type="text/javascript" src="static/js/game_stats.js"></script>

<hr />
<div>
  <canvas id="opnChart"></canvas>
</div>
<script>
  opn_labels = JSON.parse('{{ opening_data.index.to_list()|tojson }}');
  opn_win_data = JSON.parse("{{ opening_data['Win'].to_list()|tojson }}")
  opn_loss_data = JSON.parse("{{ opening_data['Loss'].to_list()|tojson }}")
  opn_draw_data = JSON.parse("{{ opening_data['Draw'].to_list()|tojson }}")
  opn_title = "Game Results - Openings"
  opn_element_id = "opnChart"
</script>
<script type="text/javascript" src="static/js/opening_stats.js"></script>
  
{% endblock %}