{% extends 'base.html' %}
{% block body %}

<form class="time_control_select" action="http://localhost:5000/mis_estadisticas" method = 'POST'>
  <input class="btn-check" type="radio" id="900+10" name="time_control" value="900+10" autocomplete="off" checked>
  <label class="btn btn-secondary" for="900+10">15+10</label>
  <input class="btn-check" type="radio" id="600" name="time_control" value="600" autocomplete="off">
  <label class="btn btn-secondary" for="600">10</label>
  <input class="btn-check" type="radio" id="300+5" name="time_control" value="300+5" autocomplete="off">
  <label class="btn btn-secondary" for="300+5">5+5</label>
  <input class="btn-check" type="radio" id="300" name="time_control" value="300" autocomplete="off">
  <label class="btn btn-secondary" for="300">5</label>
  <input class="btn-check" type="radio" id="180" name="time_control" value="180" autocomplete="off">
  <label class="btn btn-secondary" for="180">3</label>
  <input class="btn-check" type="radio" id="120+1" name="time_control" value="120+1" autocomplete="off">
  <label class="btn btn-secondary" for="120+1">2+1</label>
  <input class="btn-check" type="radio" id="60" name="time_control" value="60" autocomplete="off">
  <label class="btn btn-secondary" for="60">1</label>
  <input class="btn btn-primary" type = "submit" value = "submit" />
</form>
<div>
    <canvas id="gameChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  let labels = JSON.parse('{{ data.index.to_list()|tojson }}');
  let win_data = JSON.parse("{{ data['Win'].to_list()|tojson }}")
  let loss_data = JSON.parse("{{ data['Loss'].to_list()|tojson }}")
  let draw_data = JSON.parse("{{ data['Draw'].to_list()|tojson }}")
  let title = "Game Results"
  let element_id = "gameChart"
</script>
<script type="text/javascript" src="static/js/game_stats.js"></script>

<hr />
<div>
  <canvas id="opnChartEco"></canvas>
</div>
<script>
  opn_labels_eco = JSON.parse('{{ opening_data_eco.index.to_list()|tojson }}');
  opn_win_data_eco = JSON.parse("{{ opening_data_eco['Win'].to_list()|tojson }}")
  opn_loss_data_eco = JSON.parse("{{ opening_data_eco['Loss'].to_list()|tojson }}")
  opn_draw_data_eco = JSON.parse("{{ opening_data_eco['Draw'].to_list()|tojson }}")
  opn_title_eco = "Game Results - ECO"
  opn_element_id_eco = "opnChartEco"
</script>
<script type="text/javascript" src="static/js/opening_stats_eco.js"></script>
<hr />
<div>
  <canvas id="opnChartClass"></canvas>
</div>
<script>
  opn_labels_class = JSON.parse('{{ opening_data_class.index.to_list()|tojson }}');
  opn_win_data_class = JSON.parse("{{ opening_data_class['Win'].to_list()|tojson }}")
  opn_loss_data_class = JSON.parse("{{ opening_data_class['Loss'].to_list()|tojson }}")
  opn_draw_data_class = JSON.parse("{{ opening_data_class['Draw'].to_list()|tojson }}")
  opn_title_class = "Game Results - Class"
  opn_element_id_class = "opnChartClass"
</script>
<script type="text/javascript" src="static/js/opening_stats_class.js"></script>
<hr />
<div>
  <canvas id="opnChartSubclass"></canvas>
</div>
<script>
  opn_labels_subclass = JSON.parse('{{ opening_data_subclass.index.to_list()|tojson }}');
  opn_win_data_subclass = JSON.parse("{{ opening_data_subclass['Win'].to_list()|tojson }}")
  opn_loss_data_subclass = JSON.parse("{{ opening_data_subclass['Loss'].to_list()|tojson }}")
  opn_draw_data_subclass = JSON.parse("{{ opening_data_subclass['Draw'].to_list()|tojson }}")
  opn_title_subclass = "Game Results - Sub-class"
  opn_element_id_subclass = "opnChartSubclass"
</script>
<script type="text/javascript" src="static/js/opening_stats_subclass.js"></script>
<hr />

{% for opening in opening_data_class.index.to_list() %}
  opening = {{ opening }}
  
{% endfor %}



  
{% endblock %}