{% extends 'base.html' %}
{% block body %}


<div>
    <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const labels = JSON.parse('{{ data.index.to_list()|tojson }}');
    const win_data = JSON.parse("{{ data['Win'].to_list()|tojson }}")
    const loss_data = JSON.parse("{{ data['Loss'].to_list()|tojson }}")
    const draw_data = JSON.parse("{{ data['Draw'].to_list()|tojson }}")
  
    const data = {
      labels: labels,
      datasets: [
        {
          label: 'Win',
          data: win_data,
          backgroundColor: 'rgb(0,100,0)'
          
        },
        {
          label: 'Loss',
          data: loss_data,
          backgroundColor: 'rgb(100,0,0)'
        
        },        
        {
          label: 'Draw',
          data: draw_data,
          backgroundColor: 'rgb(0,0,100)'
        },
      ]
    };
      
    const config = {
        type: 'bar',
        data: data,
        options: {
          plugins: {
            title: {
              display: true,
              text: 'Chart.js Bar Chart - Stacked'
            },
          },
          responsive: true,
          scales: {
            x: {
              stacked: true,
            },
            y: {
              stacked: true
            }
          }
        }
        };

</script>
  
<script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
</script>
  
{% endblock %}