{% extends 'base.html' %}
{% block body %}
    <div>
        <canvas id="opnChartClass"></canvas>
    </div>
    <script>
        let opn_labels_class = JSON.parse('{{ opening_data_class.index.to_list()|tojson }}');
        let opn_win_data_class = JSON.parse("{{ opening_data_class['Win'].to_list()|tojson }}")
        let opn_loss_data_class = JSON.parse("{{ opening_data_class['Loss'].to_list()|tojson }}")
        let opn_draw_data_class = JSON.parse("{{ opening_data_class['Draw'].to_list()|tojson }}")
        let opn_title_class = "Game Results - Class"
        let opn_element_id_class = "opnChartClass"
    </script>
    <script type="text/javascript" src="static/js/opening_stats_class.js"></script>

    <form class="class_opening_select" action="http://localhost:5000/opening_analysis" method = 'POST'>
        {% for opening in opening_data_class.index.to_list() %}
        <input class="btn-check" type="radio" id="{{ opening }}" name="opening_select" value="{{ opening }}" autocomplete="off" checked>
        <label class="btn btn-secondary" for="{{ opening }}">{{ opening }}</label>
        
        
        {% endfor %}
        <input class="btn btn-primary" type = "submit" value = "submit" />

    
{% endblock %}